[Unit]
Description={{ item.description }}
PartOf=piki.target

[Service]
{% if 'environment' in item %}
{% for environment in item.environment %}
Environment={{ environment }}
{% endfor %}
{% endif %}
ExecStart={{ item.exec }}
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=piki.target
