[Unit]
Description=PiKi Setup
PartOf=piki.target

[Service]
# allow any user to setup rc protocols
ExecStart=-bash -c "chmod o+w /sys/class/rc/*/protocols"
RemainAfterExit=yes

[Install]
WantedBy=piki.target
