[Unit]
Description=PiKi TTY
PartOf=piki.target

[Service]
ExecStartPre="{{ piki_dir }}/bin/piki-ttyctl" "{{ piki_tty_device }}" "{{ piki_tty_font }}"
ExecStopPost="{{ piki_dir }}/bin/piki-ttyctl" /dev/tty1
ExecStart={{ piki_tty_exec }}
Restart=always
User=pi
Group=pi
StandardInput=tty
StandardOutput=tty
StandardError=journal+console
TTYPath={{ piki_tty_device }}
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

[Install]
WantedBy=piki.target
